doctype html
html
    head
        style
            include emails.styles.css

    body
        div
            block content
        div.footer
            | Best regards,
            br
            |Car Shop Team